[Unit]
Description=nexus service
After=network.target

[Service]
Type=simple
LimitNOFILE=65536
ExecStart=/opt/nexus/bin/nexus run
ExecStop=/opt/nexus/bin/nexus stop
User=nexus
Group=nexus
DynamicUser=yes
TimeoutSec=600
LogsDirectory=/opt/sonatype-work/nexus3/log
StateDirectory=/opt/sonatype-work/nexus3/orient
CacheDirectory=/opt/sonatype-work/nexus3/tmp

[Install]
WantedBy=multi-user.target